
// keyframes for desktop sub-nav

@keyframes fadein {
    0% { opacity:0; top:90px; }
    100% { opacity:1; top:45px; }
}

@-webkit-keyframes fadein {
    0% { opacity:0; top:90px; }
    100% { opacity:1; top:45px; }
}

header {    
    #header-top {
        background: green;
        &_right {
            &_menu {   
                .menu { //top level menu
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    padding-bottom: 0;
                    .accordion-toggle {
                        display: none;
                    }
                
                    li {
                        @include nav-search-desktop;
                        display: flex;
                        align-items: center;
                        margin-left: 0px;
                        position: relative;
                        height: auto;
                        padding-right: 18px;
                        &:not(.menu-item-search) {
                            &.disable {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }
                        &.menu-item-has-children {
                            &:after {
                                content: "\e905";
                                font-family: $icomoon;
                                color: $white;
                                position: absolute;
                                right: 0;
                                top: unset;
                                width: 12px;
                                height: 12px;
                                font-size: 12px;
                                @include respond(tab-port) {
                                    display: none;   
                                }
                            }
                        }
                        &:before {
                            content: "";
                            width: 0px;
                            height: 2px;
                            background: $white;
                            transition: $trans;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            @include respond(tab-port) {
                                display: none;
                            }
                        }
                        &.current_page_ancestor, &.current-menu-item {
                            @include respond(tab-port) {
                                & > a {
                                    text-decoration: underline;
                                }
                            }
                            &:before {
                                width: 100%;
                            }
                        }
                        a {
                            color: $white;
                            font-family: $sans;
                        }
                        .sub-menu { //second level menu
                            display: none;
                            position: absolute;
                            top: 0;
                            left: 0;
                            margin-left: 0;
                            background: $white;
                            width: 100%;
                            min-width: 225px;
                            padding: 0px;
                            flex-direction: column;
                            gap: 0px;
                            &:before {
                                content: "";
                                position: absolute;
                                top: -25px;
                                left: 0;
                                height: 30px;
                                width: 100%;
                            }
                            li {
                                padding: 15px 27px 15px 20px;
                                margin: 0;
                                transition: $trans;
                                &:hover {
                                    background: $blk;
                                    &.menu-item-has-children {
                                        &:after {
                                            color: $white;
                                        }
                                    }
                                    a {
                                        color: $white;
                                    }
                                    .sub-menu {
                                        display: flex;
                                    }
                                }
                                &.menu-item-has-children {
                                    &:after {
                                        right: 10px;
                                        color: $blk;
                                    }
                                }
                                &:before {
                                    display: none;
                                }
                                &.current_page_ancestor, &.current-menu-item {
                                    & > a {
                                        text-decoration: underline;
                                    }
                                }
                                a {
                                    color: $blk;
                                }
                                .sub-menu { //third level menu
                                    display: none;
                                    flex-direction: column;
                                    position: absolute;
                                    margin-left: 100%;
                                    @media screen and (min-width: 1025px) {
                                        top: 0 !important;
                                    }
                                    li {
                                        &:hover {
                                            a {
                                                color: $white;
                                            }
                                        }
                                        a {
                                            color: $blk;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover,
                        >a:focus,
                        >a:focus-visible {
                            &:before {
                                width: 100%;
                            }
                
                            .sub-menu {
                                display: flex;
                                z-index: 0;
                                -webkit-animation: .3s ease 0s normal forwards 1 fadein;
                                animation: .3s ease 0s normal forwards 1 fadein;
                            }
                        }   
                    }
                }
            }
        }
    }
}