.ordered-list-block {
    .columns {
        gap: 30px;
        .column-50 {
            gap: 30px;
        }
    }
    li {
        &::marker {
            font-size: 20px !important;
            font-family: $sans !important;
            letter-spacing: 1px;
        }
        .list-item {
            display: inline-block;
            margin-bottom: 15px !important;
            font-weight: $black !important;
            font-size: 20px !important;
        }
        p {
            margin: 0 !important;
        }
    }
}