.btn {
    display: block !important;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    &-left {
        margin: 0 auto 0 0;
    }
    &-center {
        margin: 0 auto;
    }
    &-right {
        margin: 0 0 0 auto;
    }
}